@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,400;1,6..12,300&display=swap');

*{
  // box-sizing: border-box;
  margin: 0;

}
html{
  height: 100vh;
width: 100%;
background: linear-gradient(45deg,#41191D,#151323,#3F3428,#253532
);
background-size: 300% 300%;
animation: color  12s ease-in-out infinite;
}
@keyframes color{
  0%{
    background-position: 0 100%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}